{{#partial "content"}}

{{#if editTeam}}
<h1>Edit team members</h1>
<form action="/teams/{{editTeam.id}}/update" method="post">
    <label for="memberName">Edit this team's members</label>
    <input id="memberName" name="memberName" type="text" value="{{editTeam.memberName}}">
    <button type="submit" class="btn btn-default">Add</button>
    {{ if }}
    <h1>Edit Team name</h1>
    <form action="/teams/{{editTeam.id}}/update" method="post">
        <label for="teamName">Edit this team's name</label>
        <input id="teamName" name="teamName" type="text" value="{{editTeam.teamName}}">
        <button type="submit" class="btn btn-default">Add</button>
    {{/if}}
</form>

{{/partial}}

{{> layout.hbs}}