{{#partial "content"}}

    {{#if editMember}}
        <form action="/members/update" method="post">
            <h1>Edit Member</h1>
            <select id="memberToEditId" name="memberToEditId">
                {{#each members}}
                    <option value="{{id}}">{{memberName}}</option>
                {{/each}}
            </select>
            <br>
            <label for="stats">Edit member stats</label>
            <input id="stats" name="stats" type="text" placeholder="stats">
            <br>
            <label for="teamId">Team:</label>
            <select id="teamId" name="teamId">
                {{#each teams}}
                    <option value="{{id}}">{{teamName}}</option>
                {{/each}}
            </select>


    {{else}}
            <h2>Add a new member!</h2>

        <form action="/members/new" method="post">
            <label for="memberName">Member Name</label>
            <input id="memberName" name="memberName" type="text">

            <label for="stats">Member Stats</label>
            <input id="stats" name="stats" type="text">
            <br>
            <label for="teamId">Add this member to: </label>
            <select id="teamId" name="teamId">
                {{#each teams}}
                    <option value="{{id}}">{{teamName}}</option>
                {{/each}}
            </select>
    {{/if}}
        <br>
        <button type="submit" class="btn btn-default">Add</button>
    </form>


{{/partial}}

{{> layout.hbs}}
