{{#partial "content"}}

    <p>Name: {{ member.memberName }}</p>
    <p>Stats: {{ member.stats }}</p>
<!--<a href="/members/update">Edit team member</a><br>-->
<a href="/teams/{{member.teamId}}/members/{{member.id}}/delete">DELETE</a>
    <a href="/teams/{{member.teamId}}/members/{{member.id}}/update">EDIT</a>





{{/partial}}

{{> layout.hbs}}