{{#partial "content"}}


    <h3>Team Name:</h3>
    <p>{{ team.teamName }}</p>
    <h3>Team Description:</h3>
    <p> {{ team.description }}</p>


<ul>
    {{#each members}}
    <li>
        <p><a href="/teams/{{teamId}}/members/{{id}}">{{ teamName }}</a></p>



        <a href="/teams/{{teamId}}/members/{{id}}">{{ memberName }}</a><br>



        <br>


    </li>
    {{/each}}
</ul>
<h3><a href="/members/new">Add a new team member</a></h3>
<a href="/teams/update">Edit this Team</a><br>
<a href="/teams/{{team.id}}/delete">DELETE Team</a>

{{/partial}}

{{> layout.hbs}}